* {
    max-width: 1440px;
    font-family: Roboto;
    margin: 0 auto;
}

html, body {
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.App {
    min-height: 100vh;
}

.main {
    display: flex;
}

main {
    flex-grow: 1;
}